<h1><%= @shelter.name %></h1>
<div class="shelter"
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
  <br>

  <div>
    <% @shelter_reviews.each do |shelter_review| %>
      <p>Title: <%= shelter_review.title %></p>
      <p>Rating: <%= shelter_review.rating %></p>
      <p>Content: <%= shelter_review.content %></p>
      <p>Image: <img src="<%= shelter_review.image %>" style="width: 55vw; min-width: 330px;" ></p>
      <p><%= link_to "Edit #{shelter_review.title}", "/shelters/#{@shelter.id}/shelter_reviews/#{shelter_review.id}/edit" %></p>
      <p><%= link_to "Delete #{shelter_review.title}", "/shelters/#{@shelter.id}/shelter_reviews/#{shelter_review.id}", method: :delete %></p>
    <% end %>

  </div>

  <ul>
    <li><%= link_to "See Available Pets", "/shelters/#{@shelter.id}/pets" %></li><br/>
    <li><%= link_to "Update Shelter Information", "/shelters/#{@shelter.id}/edit" %></li><br/>
    <li><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></li><br/>
    <li><%= link_to "Add New Shelter Review", "/shelters/#{@shelter.id}/shelter_reviews/new" %></li>
    <br>
  </ul>
</div>
