<div class="title">
  <h1><%= @shelter.name %></h1>
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
</div>
<br>
<div class="links"
  <br>
  <ul>
    <li><%= link_to "See Available Pets", "/shelters/#{@shelter.id}/pets" %></li><br/>
    <li><%= link_to "Update Shelter Information", "/shelters/#{@shelter.id}/edit" %></li><br/>
    <li><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></li><br/>
    <li><%= link_to "Add New Shelter Review", "/shelters/#{@shelter.id}/shelter_reviews/new" %></li>
    <br>
  </ul>
</div>

<h2><center>Shelter Reviews</center></h2>
<% @shelter_reviews.each do |shelter_review| %>
  <div class="review">
    <p><b><center><%= shelter_review.title %></center></b></p>
    <p><b>Rating:</b> <%= shelter_review.rating %></p>
    <p><b>Content:</b> <%= shelter_review.content %></p>
    <p><b>Image:</b> <img src="<%= shelter_review.image %>" style="width: 55vw; min-width: 330px;" ></p>
    <p><%= link_to "Edit #{shelter_review.title}", "/shelters/#{@shelter.id}/shelter_reviews/#{shelter_review.id}/edit" %></p>
    <p><%= link_to "Delete #{shelter_review.title}", "/shelters/#{@shelter.id}/shelter_reviews/#{shelter_review.id}", method: :delete %></p>
  </div>
<% end %>
