<h1>Edit Review</h1>
<br>
<div class="form">
  <%= form_tag "/shelters/#{@shelter_review.shelter_id}/shelter_reviews/#{@shelter_review.id}", method: :patch do %>
  <%= label_tag :title %><br/>
  <%= text_field_tag "title", "#{@shelter_review.title}" %><br/>
  <br>
  <%= label_tag :rating %><br/>
  <%= text_field_tag :rating, "#{@shelter_review.rating}" %><br/>
  <br>
  <%= label_tag :content %><br/>
  <%= text_field_tag :content, "#{@shelter_review.content}" %><br/>
  <br>
  <%= label_tag :image %><br/>
  <%= text_field_tag :image, "#{@shelter_review.image}" %><br/>
  <br>
  <%= submit_tag "Update Shelter Review" %>
  <% end %>

</div>
