<h1>Favorite Pets</h1>
<div class="pets">

<% if @favorites.nil? || @favorites.empty? %>
  <p> You have no favorited pets. </p>
<% else %>
  <% @favorites.each do |favorite_id, favorite_count| %>
  <div class="pet">
    <% pet = Pet.find(favorite_id) %>
    <img src=<%= pet.image %> alt=<%= pet.name %></img>
    <%= link_to "Remove #{pet.name} from Favorites", "/favorites/#{pet.id}", method: :delete %>
    <h3><a href="/pets/<%= pet.id %>/"><%= pet.name %></a></h3>
  </div>
  <% end %>
</div>
  <div class="adopt-app">
    <%= link_to "Apply to Adopt Pet(s)", "/applications/new" %>
  </div>
  <div class="remove-all">
    <%= link_to "Remove All Favorited Pets", "/favorites", method: :delete %>
  </div>
  <div class="adopt-pending">
    <p>Pets pending adoption:</p>
    <% @applied_list.each do |pet| %>
      <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
    <% end %>
  </div>
<% end %>
