<h1><%=  "#{@application.name}'s Application" %></h1>

<p><%= @application.address %></p>
<p><%= @application.city %></p>
<p><%= @application.state %></p>
<p><%= @application.zip %></p>
<p><%= @application.phone_number %></p>
<p><%= @application.description %></p>

<% @pets.each do |pet| %>
  <%= link_to "Approve Application for #{pet.name}", "/pets/#{pet.id}", pet.update(adoptable: !pet.adoptable?) %>
<% end %>
