<div class="info"
  <h1>All Pets</h1>
  <h4>Total Number of Pets: <%= @pets.count %></h4>
</div>
<% @pets.each do |pet| %>
  <div class="pet">
    <img src=<%= pet.image %> alt=<%= pet.name %></img>
    <h3><a href="/pets/<%= pet.id %>/"><%= pet.name %></a></h3>
    <p>Description: <%= pet.description %></p>
    <p>Age: <%= pet.age %> old</p>
    <p>Sex: <%= pet.sex %></p>
    <p>Shelter: <%= pet.shelter.name %></p>
    <p>Adoption Status: <%= pet.adoptable %></p>
    <ul>
      <li><%= link_to "Update Pet", "/pets/#{pet.id}/edit"%></li>
      <li><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></li>
    </ul>
  </div>
<% end %>
