<img src=<%= @pet.image %> alt=<%= @pet.name %> height="250px" width="250"></img>
<h3><%= @pet.name %></h3>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.age %> old</p>
<p>Sex: <%= @pet.sex %></p>
<p>Shelter: <%= @pet.shelter.name %></p>
<p>Adoption Status: <%= @pet.adoptable %></p>
<% if @pet.adoptable == "pending" %>
  <p>On hold for: <%= @applicant.pop.name %></p>
<% end %>
<ul>
  <li><%= link_to "#{@link_title}", "/favorites/#{@pet.id}", method: @link_method %></li>
  <li><%= link_to "View All Applications for #{@pet.name}", "/applicationpets/#{@pet.id}" %>
  <li><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></li>
  <li><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></li>
</ul>
